* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  margin: 0;
  /* position: relative; */
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.point {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  width: 700px;
  height: 360px;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  background: #00000077;
  border: 4px solid #ffffff99;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;

  /* transition */
  transition: opacity 0.3s;
  pointer-events: none;
  opacity: 0;
}

.title {
  font-weight: 700;
  font-size: 32px;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.info {
  margin-top: 8px;
  font-weight: 100;
  line-height: 1.5em;
  font-size: 16px;
  width: 80%;
}

img {
  height: 300px;
  border-radius: 8px;
  border: 2px solid #ffffff;
}
